@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
background-color: #1F2125;
color: #d8d8d8;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.mainContainer {
  margin: 0 auto;
  height: 90%;
  width: 40%;
  background: #32353b;
}

.mainContainer .header {
  width: 100%;
  height: auto;
  background-color: #282A2C;
  font-size: 30px;
  font-weight: bold;
}

.mainContainer .subHeader {
  width: 100%;
  height: auto;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.note {
 width: 100%;
 height: auto;
 border-bottom: 1px solid #cccccc26;
 cursor: pointer;


}

.note:hover {
  background-color: #151619;
}